/*INDEX --------------------
- CSS RESET
- GENERAL HELPER CLASSES
- UNIVERSAL STYLES
- Layout
- Typography
- General Styles
- HEADER & FOOTER
- MODULAR ELEMENTS
- Element Name
- FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /* font styles for header and paragraph
  border: 2px solid darkgreen;  */


}

img{
  max-width: 100%;
  pading: 2%;
}
/* font styles for header and paragraph  */

.logo img{
  width: 140px;
}

Body{
  font-family: 'Raleway', sans-serif;
  font-size:18px;
  color: #4C4C4C;
}

p{
  font-family: 'Raleway', sans-serif;
  color: #4C4C4C;
  padding: 2%;
}

h1{
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  padding: 2%;
  text-align: center;
}
h2{
  font-family:'Indie Flower', cursive;
  font-size: 38px;
  text-align: center;
}

h3{
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  width: 90%;
  padding: 2%;
}

h4{
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  text-align:center;
  color:#C60657;
}

h5 {
  font-family:'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
}

h6{
  font-family:'Indie Flower', cursive;
  font-size: 30px;
  text-align: center;
}

.subheading{
  font-size:20px;
  font-family:'Raleway', sans-serif;
  text-align: center;
  padding: 2%;
}

.center{
  text-align: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-bottom{
  display: flex;
  align-items: flex-end;
  padding: 5%;

}

a{
  text-decoration: none;
}

i{
}

button{
  font-family: 'Raleway', sans-serif;
  padding:2%;
  border: 2px solid black;
  background: #FDFEFE;
  display: block;
  margin: auto;
  transition: color 0.5s, border 0.5s; /* color changes gradually */
}

button:hover{
  border: 2px solid #C60657;
  color:#C60657;
}

a:hover{
  color:	#FF1493;
}

header,footer{

  margin: 2%;
}

.rightpush{
  padding-left: 10%;
}

nav a{
  color: black;
  text-align: left;
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
  padding: 3%;
  display: inline-block;
}

/* background image first  */
.mainimage{
  background-image: url('../img/pink.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 42% 0%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height:90vh;
  width:100%;
  padding: 0 0 91.7px 0;
}

.mainimage div{
  background-color: rgba(236, 240,241, 0.5);
  padding: 4%;
  opacity: 0.5%;
}

[class*=grid].course{
  margin: 5% 10%;
}


.course p{
  padding: 5%;
}

.jk img{
  margin-right: 5%;
}

[class*=grid].included{
  padding:5% 24%;
  margin:32px;
}

.glam{
  background-image: url('../img/Glitz.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:32vh;
  padding: 2%;
}

.glam p{
  background-color: white;
  font-family: 'Raleway', sans-serif;
  padding:5%;
  align-items: center;
  text-align: center;
}

.trendy{
  background-image: url('../img/Chique.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:32vh;
  padding:2%;
}

.trendy p{
  font-family: 'Raleway', sans-serif;
  background-color: #FDFEFE;
  text-align: center;
  padding: 5%;
  align-items: center;
}

.feminine{
  background-image: url('../img/Boho.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:30vh;
  padding: 2%;
}

.feminine p{
  font-family: 'Raleway', sans-serif;
  background-color: #FDFEFE;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5%;
}

.shop p{
  text-align:center;
  padding: 32px;
}

.shop h2{
  padding:2px;
}

.included {
  padding: 6%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inc p{
  padding: 5%;
}

/* footer  */
footer{
  text-align: center;
  background-color: #ECF0F1;
}
label, input{
  display: block;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 2% auto;
  width: 29.6rem;
  background-color: #ECF0F1;
}

.community input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black;

}

.submit{
  font-family: 'Raleway', sans-serif;
  border-bottom: none;
  border-radius: 2%;
  background-color: #ECF0F1;
  padding: 1%;
}

.submit:hover{
  background-color: #DB7093;
}

.footer{
  font-size: 24px;
}

.legal{
  padding: 2%;
  font-size: 12px;
}
.legal a{
  padding: 2%;
}

.fa{
  padding: 2%;
  font-size: 30px;
}

/* our story section another page  */
.ourstoryimage{
  background-image: url('../img/bluebeads.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 16% 0%;
  justify-content: flex-end;
  min-height:80vh;
  width:100%;
  /*padding: 0 0 91.7px 0;*/
}

.ourstory p{
  padding: 0%;
  border: 2px solid #C0C0C0;
}

.ourstoryimage div{
  border: black;
  background-color: rgba(255, 255, 255, 0.5);
  right:0;
  padding: 2%;
  border-radius: 25px;
  margin-right: 20%;

  /*padding: 0 0 91.7px 0
  rgba(236, 240,241, 0.5);
  */
}

.ourstoryimage h1{
  font-family: 'Indie Flower', cursive;
  font-size: 51px;
  text-align: center;
}

.ourstory {
  padding: 2%;
}

.ourstory h2{
  font-size: 45px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #666666;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  width: 50%;
  margin: 2% auto;
}

#popup {
  position: fixed;
  bottom: 5px;
  width: 45vw;
  height: 55vh;
  background-color: rgba(0,0,0,0.8);
  text-align: left;
  color: white;
  padding: 2%;
  display:none;
}

#popup i {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

#popup i:hover{
  color: pink;
}

.popuptext button{
  margin: 10%;
}

.pop:hover{
  background-color: #e36f80;
  color: white;
}

.bottondesign{
  text-decoration: none;
}

.popupimage img{

  padding: 0%;
  margin: 1%;
  width: 125%;
  display: flex;
  align-items: center;
}

.popuptext h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 5%;
  font-size: 20px;
  color:#ECF0F1;

}
.popuptext p{
  font-family: 'Raleway', sans-serif;
  color:#ECF0F1;
  font-size: 18px;
  padding: 6%;
  margin-right: -7%;
  text-align: center;
}

<!-- Product Page for one off gifts on site called shop-->
.products h3{
  width: 10vw;
  height: 15vh;
  background-repeat: no-repeat;
  margin: 20%;
}

.pimage{
  width: 60vh;
}

.purchasetrends{
  width: 96vw;
  height:73vh;
  margin-top:4%;
}

.purchasetrends h2{
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}


.tjk h3{
  font-weight:lighter;
  text-align: left;
}

.tjk button{
  padding: 4%;
  weight: 50%;
  background-color: #c0577f;
  border-radius:4%;
  border-style: none;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

  .tjk button:hover{
    background-color: black;
    color: white;
  }

  .headline{
    border-bottom: 5px solid #c0577f;
  }

.purchasepage{
  width: 100vw;
  height: 117vh;
  margin-top: 2%;
  padding: 5%;
  }

.purchasepage img{
  width: 100vw;
}

.snip-layout .snip-header{
  background-color: rgba (187, 62, 146, 0.42);
  color: white;
  font-family: 'Raleway', sans-serif;
}

.snip-layout .snip-btn--highlight{
  background-color: black;
  color: white;
}

.snip-layout .snip-btn--highlight:hover{
  background-color: #FF1493;
  color: white;
}

.contactus{
  background-image: url('../img/contactus.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 70rem;
  width: 100%;
}

.contactus label{
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-family: cursive;
  text-align: center;
  padding-top: 4%;
}

.contact label {
  margin: 5px;
}

.snip-layout .snip-form_label{
  background-color: white;
  width:4vw;
}

.contactus h1{
  font-size: 45px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.contactus div{
  background-color: white;
  width: 56rem;
  height: 40rem;
  margin: 5rem 10rem 5rem 10rem;
}

.left{
  widht: 30rem;
  border-radius: 5%;
}

.left input{
  background-color: white;
  border-radius: 3px;
  border: 2px solid #A9A9A9;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 0 24px;
  width: 20rem;
  display:inline-table;
  align-items: center;
  box-sizing: border-box;
  margin-left: 7%;
  margin-right: 7%;
}

.contactus form {
  height: 33rem;
  weight: 15rem;
}

.contactus textarea{
  width: 49rem;
  height: 10rem;
  text-align: center;
  margin-left: 5%;
  margin-top: 2%;
  border: 2px solid #A9A9A9;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.contactus button{
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
   padding: 13px 59px;
   margin-top: 5%;

   border-radius: 30px;
   background-color: #E04C6E;
   border-style: hidden;
   color: white;
}

.giftsgalore{
  background-image: url('../img/contactus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 16% 0%;
  width: 80rem;
  height: 60rem;
}

.giftsgalore p{
  background-color: green;
}

.giftsgalore h1{
  font-size: 54px;
}

.mad{
  background-image: url('../img/contactus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 16% 0%;
}

.mad div{
  color: purple;
  background-color: pink;
  text-align: center;
  width: 20rem;
  height: 35rem;
}

/*responsive */

@media (max-width:800px) {
  h2 {
  display: block;
  font-size: 30px;
  font-family:'Indie Flower', cursive;
    }
  }

  @media (max-width:800px) {
    h3 {
    display: block;
    font-size: 17px;
    font-family:'Indie Flower', cursive;
      }
    }

    /*responsive

    @media (max-width:800px) {
      .headline {
      display: block;
      font-size: 15px;
      font-family:'Indie Flower', cursive;
        }
      }
*/
