<!DOCTYPE html>
<html>
<head>
  <title> Your Creation Box </title>
  <script src="https://use.fontawesome.com/3fbdc1e752.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">

  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<header class="grid-spaceBetween-middle">
  <div class="col-4 logo">
    <a href="index.html"><img src="/Img/logo.jpg"></a>
  </div>
<nav class="col-6">
  <a href="ourstory.html">Our Story</a>
  <a href="shop.html">Shop</a>
  <a href="https://www.facebook.com/">Subscribe</a>
  <a href="https://www.facebook.com/">Blog</a>
  <a href="https://www.facebook.com/"><i class="fa fa-shopping-basket" aria-hidden="true">
    </i>
  </a>
</nav>
</header>

{{content}}

<footer class="footer">
  <nav>
    <a href="https://www.facebook.com/"target="_blank">Contact Us</a>
    <a href="https://www.facebook.com/"target="_blank">Delivery</a>
    <a href="https://www.facebook.com/"target="_blank">Returns Policy</a>
    <a href="https://www.facebook.com/"target="_blank">FAQ</a>
  </nav>
  <form action="https://formspree.io/your@email.com"
      method="POST">

    <input placeholder=" Enter your email address to join our community" type="email" name="_replyto">
    <input class="submit" type="submit" value="Send">
</form>
  <i class="fa fa-facebook-square" aria-hidden="true"></i>
  <i class="fa fa-instagram" aria-hidden="true"></i>
  <i class="fa fa-pinterest-square" aria-hidden="true"></i>
<div class="legal">
  <a href="https://www.facebook.com/"target="_blank">Terms and Condition</a>
  <a href="https://www.facebook.com/"target="_blank">Privacy Policy</a>
</div>
</footer>
<hr />
<section class="grid-spaceBetween" id="popup">
  <div  class="col-5 popupimage">
    <img src="/img/pinkvase.jpg" />
  </div>
  <div class="col-6 popuptext">
    <h2>Learn how to make Jewellery with our DIY kits</h2>
    <p> To help you create unique jewellery pieces we have developed
    a comprehensive guide on how you can do this in the comfort of your
    own home.
    <a href="img/Course.pdf" class="buttondesign"><button type="submit"> DOWNLOAD A COURSE GUIDE</button> </a>
    </p>
    <i class="fa fa-times getout" aria-hidden="true" onclick="hidePopup();"></i>
  </div>
</section>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NTQ4NzFlMWItZWI0Yy00ZWI1LWE4NTgtNmFlN2NhODgxMThhNjM2MzAxNzAxMzgxMjQ1OTI1"></script>
<script src='/js/main.js'></script>


</body>
</html>
