---
layout: default
title:
---
<section class="grid-spaceBetween purchasepage">
    <div class="col-6">
      <img src={{page.image}} />
    </div>
  <div class="col-6 tjk">
      <h2>{{page.title}}</h2>
      <h3> ${{page.price}}</h3>
      <p> {{page.description}}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <button
        class="snipcart-add-item"
        data-item-id="{{page.id}}"
        data-item-name="{{page.title}}"
        data-item-price="{{page.price}}"
        data-item-weight="{{page.weight}}"
        data-item-url="{{page.url}}"
        data-item-description="{{page.description}}">
        Buy Now
     </button>
  </div>
</section>
